@using CapexIdentity.Entities
@model LoginInfo
@{
    ViewBag.Title = "Sistema de Gestión de Iniciativas CAPEX";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface no-generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta content="CAPEX" name="description">
    <meta content="AMSA S.A." name="author">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@ViewBag.Title</title>
    @*<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/icons.css" rel="stylesheet" type="text/css">
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" type="text/css">
    <link href="~/Content/sweetalert2.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-material-datetimepicker.css" rel="stylesheet" />
    <link href="~/Content/select2.min.css" rel="stylesheet" />
    <link href="~/fonts/css/all.css" rel="stylesheet" />

    <style>
        div.pager {
            text-align: center;
            margin: 1em 0;
        }

            div.pager span {
                display: inline-block;
                width: 1.8em;
                height: 1.8em;
                line-height: 1.8;
                text-align: center;
                cursor: pointer;
                background: transparent;
                color: #fff;
                margin-right: 0.5em;
            }

                div.pager span.active {
                    background: #4a848e;
                }

        #menu li {
            padding-top: 4px;
            padding-bottom: 4px;
        }

        ul.navegacion a {
            cursor: pointer;
        }

        .active {
            color: gold;
            font-weight: bolder;
        }

        /*.autocomplete-suggestions {
            background-color: #fff;
            max-height: 500px;
            padding: 2px;
            overflow: auto;
            color: #333;
        }*/
    </style>
</head>
<body style="overflow: visible;">

    <div id="stars"></div>
    <div id="stars2"></div>
    <!-- Navigation Bar-->
    <header id="topnav">
        <div class="topbar-main">
            <div class="container-fluid">
                <!-- Logo container-->
                <div class="logo" style="margin-top:0px;">
                    <a href="#" class="logo">
                        <img src="~/Content/logos/logo-amsa-trasparente.png" border="0" height="28" width="165" style="margin-top:0px;">
                    </a>
                </div>
                <!--Fi Logo Container-->
                <!--System Bar-->
                @Html.Partial("_SystemBar")
                <!--Fin System Bar-->
                <!-- Top Bar-->
                @Html.Partial("_TopBar")
                <!--Fin Top Bar-->
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- end topbar-main -->
        <!-- Menu -->
        @Html.Partial("_MenuAdministrador")
        <!-- Fin Menu-->

    </header>

    <div class="wrapper dashboard" style="margin-top:30px;">
        <div class="container-fluid">
            <!-- Navegacion -->
            <div class="row" style="margin-top:-30px;">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="btn-group float-right">
                            <ol class="breadcrumb hide-phone p-0 m-0">
                                <li class="breadcrumb-item"><a href="#">Capex</a></li>
                                <li class="breadcrumb-item"><a href="#" onclick="document.location='@Url.Action("Index", "Login")'">Login</a></li>
                                <li class="breadcrumb-item"><a href="#" onclick="document.location='@Url.Action("Index", "Panel")'">Panel</a></li>
                                <li class="breadcrumb-item active"><a href="#">Mantenedores / Administrador Capex / Solicitudes</a></li>
                            </ol>
                        </div>
                        <h6 class="page-title">
                            <input type="button" id="BotonVolverGeneral" onclick="document.location='@Url.Action("Index", "Panel")'" class="btn btn-primary btn-sm" value="Volver" />
                            <input type="button" id="BotonActualizarVista" onclick="Actualizar()" class="btn btn-success btn-sm" style="margin-left:5px;" value="Actualizar Vista" />
                        </h6>
                    </div>
                </div>
            </div>
            <!-- Fin Modulo-->
            <!-- Navegacion -->

            <div class="row">
                <div class="col-12">
                    <div class="card mail-inbox">
                        <div class="card-body">
                            <div class="card-title mb-3">
                                <div class="d-inline-block ml-1">
                                    <h6>Solicitudes</h6>
                                </div>
                            </div>
                            <!--CONTENEDOR PANEL LATERAL ESTADOS-->
                            <div class="row">
                                <div id="ContenedorUsuario" class="col-md-10">
                                    <!--CONTENEDOR BARRA HERRAMIENTAS-->
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div id="ContenedorBarraHerramientas" class="btn-toolbar mb-3" role="toolbar">
                                                <div class="btn-group mr-2">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control form-control-sm" name="buscador" id="buscador" onblur="FNEvaluarEstadoFiltro(this.value);" placeholder="Buscar y Filtrar.." style="text-transform:uppercase;font-size:11px; width:400px; margin-right:5px;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- FIN HERRAMIENTAS -->
                                    <!-- CONTENEDOR GRILLA DE INICIATIVAS -->
                                    <div class="panel panel-default">
                                        <div id="ContenedorGrillaUsuario" class="panel-body">
                                            <table class="table table-hover mails paginated" id="solicitudes">
                                                <thead style="background-color:#4a848e;text-transform:uppercase;">
                                                    <tr>
                                                        <th scope="col"><strong>Solicitante</strong></th>
                                                        <th scope="col"><strong>Tipo de Solicitud</strong></th>
                                                        <th scope="col"><strong>Area</strong></th>
                                                        <th scope="col"><strong>Empresa</strong></th>
                                                        <th scope="col"><strong>Fecha</strong></th>
                                                        <th scope="col"><strong>Acciones</strong></th>
                                                    </tr>
                                                </thead>
                                                <tbody style="text-transform:uppercase;">
                                                    @{
                                                        if (ViewBag.Solicitudes != null)
                                                        {
                                                            foreach (var u in ViewBag.Solicitudes)
                                                            {
                                                                <tr>
                                                                    <td width="250px">
                                                                        @u.SolNomSolicitante @u.SolApeSolicitante
                                                                    </td>
                                                                    <td width="250px">
                                                                        @{
                                                                            if (@u.SolTipo == "CB")
                                                                            {
                                                                                <span>Caso Base</span>
                                                                            }
                                                                            else if (@u.SolTipo == "CD")
                                                                            {
                                                                                <span>Caso Desarrollo</span>
                                                                            }
                                                                            else if (@u.SolTipo == "PP")
                                                                            {
                                                                                <span>Caso Presupuesto</span>
                                                                            }
                                                                            else if (@u.SolTipo == "EX")
                                                                            {
                                                                                <span>Caso Extraordinario</span>
                                                                            }

                                                                        }
                                                                    </td>
                                                                    <td width="150px">
                                                                        @u.SolArea
                                                                    </td>
                                                                    <td width="100px">
                                                                        @u.SolCompania
                                                                    </td>
                                                                    <td width="80px" align="left">
                                                                        <div align="left" style="width:80px; text-align:left">@u.SolFecha</div>
                                                                    </td>
                                                                    <td align="center" width="130px">
                                                                        <div style="text-align:left"><a href="#" onclick="FNVerSolicitud('@u.SolComentario','@u.SolNomSolicitante','@u.SolApeSolicitante','@u.SolTelefono','@u.SolMovil','@u.SolOtroTelefono','@u.SolEmailSolicitante','@u.SolFecha')">VER SOLICITUD</a></div>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- FIN CONTENEDOR -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fin Contenido 2-->
        </div>
    </div>


    <!-- Modal -->
    <div class="modal" data-backdrop="false" id="ModalVerSolicitud" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="margin-left:0px;width:750px;height:400px; font-size:12px;">
                <div id="ContenedorVerSolicitud" class="modal-body" style="margin-left:5px;width:730px; font-size:12px;">
                    <div>
                        <div style="border-bottom:1px solid #f0f0f0; padding:5px 5px 10px 5px;">
                            <h6 style="color:#333;"><strong>Solicitud</strong> </h6>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="container">
                                    <form id="ContenedorFormVersolicitud">
                                            <table style="text-transform:uppercase; margin-top:15px;">
                                                <tr>
                                                    <th width="200px" height="20px"> <strong>Solicitante</strong></th>
                                                    <th width="500px"><span id="Nombre"></span>&nbsp;<span id="Apellido"></span></th>
                                                </tr>
                                                <tr>
                                                    <td height="20px"><strong>Teléfono</strong></td>
                                                    <td><span id="Telefono"></span>&nbsp;<span id="OtroTelefono"></span></td>
                                                </tr>
                                                <tr>
                                                    <td height="20px"><strong>Móvil</strong></td>
                                                    <td><span id="Movil"></span></td>
                                                </tr>
                                                <tr>
                                                    <td height="20px"><strong>E-Mail</strong></td>
                                                    <td><span id="Email"></span></td>
                                                </tr>
                                                <tr>
                                                    <td height="20px"><strong>Fecha Solicitud</strong></td>
                                                    <td><span id="Fecha"></span></td>
                                                </tr>
                                                <tr>
                                                    <td height="50px"><strong>Solicitud</strong></td>
                                                    <td><span id="Solicitud"></span></td>
                                                </tr>
                                            </table>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="input-group" style="border-top:1px solid #f0f0f0; text-align:right; margin-top:2px;">
                            <div class="clearfix pl-2 pt-2">
                                <button class="btn btn-default btn-sm" type="button" onclick="FNCerrarModalVerSolicitud()" style="font-size:11px; margin-left:5px; width:120px;">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!--Hidden Control-->
    @{
        if (Session["CAPEX_SESS_USERNAME"] == null)
        {
            Response.Redirect("/login");
        }
        else
        {
            @Html.Hidden("CAPEX_H_USERNAME", Convert.ToString(Session["CAPEX_SESS_USERNAME"]));
        }
    }
    <!--Preloader-->
    <div class="modal-overlay"></div>
    @Html.Partial("_PreLoader")
    <!--End Preloader-->
    <!-- Footer -->
    <footer class="footer">
        @Html.Partial("_Footer")
    </footer>
    <!-- End Footer -->
    <!-- jQuery  -->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    @*<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@
    <script src="~/Scripts/popper.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/detect.js"></script>
    <script src="~/Scripts/fastclick.js"></script>
    <script src="~/Scripts/jquery.slimscroll.js"></script>
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/jquery.nicescroll.js"></script>
    <script src="~/Scripts/jquery.scrollTo.min.js"></script>
    <script src="~/Scripts/waves.js"></script>
    <script src="~/Scripts/sweetalert2.all.min.js"></script>

    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/bootstrap-inputmask.min.js"></script>
    <script src="~/Scripts/bootstrap-maxlength.min.js"></script>
    <script src="~/Scripts/Modules/Contexto/Contexto.js"></script>
    <script src="~/Scripts/Modules/Solicitud/Solicitud.js"></script>
</body>
</html>


