@using CapexIdentity.Entities
@model LoginInfo
@{
    ViewBag.Title = "Sistema de Gestión de Iniciativas CAPEX";
}
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface no-generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>@ViewBag.Title</title>
    <meta content="CAPEX" name="description">
    <meta content="AMSA S.A." name="author">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="Content/rwd-table.min.css" rel="stylesheet" />

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/glyphicons.css" rel="stylesheet" type="text/css">
    <link href="~/Content/icons.css" rel="stylesheet" type="text/css">
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" type="text/css">
    <link href="~/Content/sweetalert2.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker-1-7-1.min.css" rel="stylesheet" />
    <link href="~/Content/select2.min.css" rel="stylesheet" />
    <link href="~/fonts/css/all.css" rel="stylesheet" />

    <style>

        div.pager {
            text-align: center;
            margin: 1em 0;
        }

            div.pager span {
                display: inline-block;
                width: 1.8em;
                height: 1.8em;
                line-height: 1.8;
                text-align: center;
                cursor: pointer;
                background: transparent;
                color: #fff;
                margin-right: 0.5em;
            }

                div.pager span.active {
                    background: #4a848e;
                }

        #menu li {
            padding-top: 4px;
            padding-bottom: 4px;
        }

        ul.navegacion a {
            cursor: pointer;
        }

        .active {
            color: gold;
            font-weight: bolder;
        }
    </style>
</head>
<body style="overflow: visible;">

    <div id="stars"></div>
    <div id="stars2"></div>
    <!-- Navigation Bar-->
    <header id="topnav">
        <div class="topbar-main">
            <div class="container-fluid">
                <!-- Logo container-->
                <div class="logo" style="margin-top:0px;">
                    <a href="#" class="logo">
                        <img src="~/Content/logos/logo-amsa-trasparente.png" border="0" height="28" width="165" style="margin-top:0px;">
                    </a>
                </div>
                <!--Fi Logo Container-->
                <!--System Bar-->
                @Html.Partial("_SystemBar")
                <!--Fin System Bar-->
                <!-- Top Bar-->
                @Html.Partial("_TopBar")
                <!--Fin Top Bar-->
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- end topbar-main -->
        <!-- Menu -->
        @Html.Partial("_MenuAdministrador")
        <!-- Fin Menu-->

    </header>

    <div class="wrapper dashboard" style="margin-top:30px;">
        <div class="container-fluid">
            <!-- Navegacion -->
            <div class="row" style="margin-top:-30px;">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="btn-group float-right">
                            <ol class="breadcrumb hide-phone p-0 m-0">
                                <li class="breadcrumb-item"><a href="#">Capex</a></li>
                                <li class="breadcrumb-item"><a href="#" onclick="document.location='@Url.Action("Index", "Login")'">Login</a></li>
                                <li class="breadcrumb-item"><a href="#" onclick="document.location='@Url.Action("Index", "Panel")'">Panel</a></li>
                                <li class="breadcrumb-item active"><a href="#" onclick="document.location.href='@Url.Action("Index", "Mantenedor")'">Mantenedores</a> / Bloqueo</li>
                            </ol>
                        </div>
                        <h6 class="page-title">Mantenedor de Bloqueo</h6>
                    </div>
                </div>
            </div>
            <!-- Fin Modulo-->
            <!-- Navegacion -->

            <div class="row">
                <div class="col-12">
                    <div class="card mail-inbox">
                        <div class="card-body">
                            <div class="card-title mb-3">
                                <div class="d-inline-block ml-2">
                                    <h6>Listado de Bloqueos</h6>
                                </div>
                            </div>
                            <!--CONTENEDOR PANEL LATERAL ESTADOS-->
                            <div class="row">
                                <div class="col-md-2">
                                    <button class="btn btn-primary btn-block " onclick="FNEvaluarAccion('1', '0')">Nuevo Bloqueo</button>
                                </div>
                                <div id="ContenedorIniciativasResumen" class="col-md-10">
                                    <!--CONTENEDOR BARRA HERRAMIENTAS-->
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <div id="ContenedorBarraHerramientas" class="btn-toolbar mb-3" role="toolbar">
                                                <div class="btn-group mr-2">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control form-control-sm" name="buscador" id="buscador" onblur="FNEvaluarEstadoFiltro(this.value);" placeholder="Buscar y Filtrar.." style="text-transform:uppercase;font-size:11px; width:400px; margin-right:5px;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <label class="radio-inline"><input type="radio" value="2" name="optradio" checked='@(ViewBag.tipoIniciativaSeleccionadoMantenedor == "2")'>PRESUPUESTO</label>
                                            <label class="radio-inline"><input type="radio" value="1" name="optradio" checked='@(ViewBag.tipoIniciativaSeleccionadoMantenedor == "1")'>CASO BASE</label>
                                        </div>
                                    </div>
                                    <!--CONTENEDOR GRILLA DE INICIATIVAS-->
                                    <div class="panel panel-default">
                                        <div id="ContenedorGrillaIniciativas" class="panel-body">
                                            <table class="table table-hover mails paginated" id="usuarios">
                                                <thead style="background-color:#4a848e;text-transform:uppercase;">
                                                    <tr>
                                                        <th scope="col"><strong>Tipo</strong></th>
                                                        <th scope="col"><strong>Fecha Desde</strong></th>
                                                        <th scope="col"><strong>Fecha Hasta</strong></th>
                                                        <th scope="col"><strong>Fecha Creación</strong></th>
                                                        <th scope="col"><strong>Usuario Creador</strong></th>
                                                        <th scope="col"><strong>Acciones</strong></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var tpts in ViewBag.Bloqueos)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @{
                                                                    if (tpts.Tipo == 1)
                                                                    {
                                                                        <strong>CASO BASE</strong>
                                                                    }
                                                                    else if (tpts.Tipo == 2)
                                                                    {
                                                                        <strong>PRESUPUESTO</strong>
                                                                    }
                                                                }
                                                            </td>
                                                            <td>
                                                                @tpts.FechaBloqueoDesde
                                                            </td>
                                                            <td>
                                                                @tpts.FechaBloqueoHasta
                                                            </td>
                                                            <td>
                                                                @tpts.FechaBloqueo
                                                            </td>
                                                            <td>
                                                                @tpts.BloqueoUsuario
                                                            </td>
                                                            <td class="text-center" width="70px">
                                                                <div style="text-align:center">
                                                                    @{
                                                                        if (@Session["CAPEX_SESS_ROLNOMBRE"] == null)
                                                                        {
                                                                            Response.Redirect("/login");
                                                                        }
                                                                        else
                                                                        {
                                                                            <select id="Funcionalidades" class="form-control orderselect" onchange="FNEvaluarAccion(this.value, `@Html.Raw(@tpts.FechaBloqueoToken)`)" style="font-size:11px;height:28px; margin:0px; padding:0px;">
                                                                                <option value="-1" selected>...</option>
                                                                                <option value="2">Editar</option>
                                                                                @{
                                                                                    if (tpts.BloqueoEstado == 1)
                                                                                    {
                                                                                        <option value="3">Eliminar</option>
                                                                                    }
                                                                                }
                                                                            </select>
                                                                        }
                                                                    }
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fin Contenido 2-->
        </div>
    </div>


    <!-- Modal -->
    <div class="modal" data-backdrop="false" id="ModalConfirmarDesactivar" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="margin-left:0px;width:450px;height:200px; font-size:12px;">
                <div id="ContenedorConfirmarDesactivar" class="modal-body" style="margin-left:5px;width:450px; font-size:12px;">
                    <div>
                        <input type="hidden" id="BloqueoToken_Desactivar" />
                        <div style="border-bottom:1px solid #808080; padding:5px 5px 10px 5px;">
                            <h7 style="color:#333;"><strong>Confirmar Acción</strong> </h7>
                        </div>
                        <br />
                        Tenga en cuenta que la eliminación de un elemento del sistema puede afectar datos guardados y /o comportamiento del mismo.<br /> <br />
                        Proceder con la eliminación del bloqueo?

                        <div class="input-group" style="border-top:0px solid #808080; text-align:right; margin-top:5px;">
                            <div class="clearfix" style="margin-top:10px;">
                                <button class="btn btn-primary btn-sm" type="button" onclick="FNDesactivarBloqueo()" style="font-size:11px;">Aceptar</button>
                                <button class="btn btn-white btn-sm" type="button" onclick="FNCerrarModalDesactivar()" style="font-size:11px; margin-left:5px;">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal Crear -->
    <div class="modal" data-backdrop="false" id="ModalCrearBloqueo" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="margin-left:0px;width:460px;height:240px; font-size:12px;">
                <div id="ContenedorCrearBloqueo" class="modal-body" style="margin-left:5px;width:570px; font-size:12px;">
                    <div>
                        <div style="border-bottom:1px solid #808080; padding:5px 5px 10px 5px;">
                            @if (ViewBag.tipoIniciativaSeleccionadoMantenedor == "2")
                            {
                                <h7 style="color:#333;"><strong>Crear Bloqueo Presupuesto</strong> </h7>
                            }
                            @if (ViewBag.tipoIniciativaSeleccionadoMantenedor == "1")
                            {
                                <h7 style="color:#333;"><strong>Crear Bloqueo Caso Base</strong> </h7>
                            }
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-xl-12 offset-md-0">
                                <div class="form-row mt-0" style="width:100%; font-size:11px;">
                                    <div class="col-sm-2 pt-2">
                                        <label for="TemplateAnio"><strong>Fecha Desde</strong></label>
                                    </div>
                                    <div class="col-sm-4 pb-1">
                                        <div class="input-group date">
                                            <input type="text" class="form-control" id="datepickerFDesde" readonly>
                                            <div class="input-group-addon" style="background-color: rgba(14, 14, 15, 0.1);">
                                                <span class="fa fa-calendar"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-xl-12 offset-md-0">
                                <div class="form-row mt-0" style="width:100%; font-size:11px;">
                                    <div class="col-sm-2 pt-2">
                                        <label for="TemplateAnio"><strong>Fecha Hasta</strong></label>
                                    </div>
                                    <div class="col-sm-4 pb-1">
                                        <div class="input-group date">
                                            <input type="text" class="form-control" id="datepickerFHasta" readonly>
                                            <div class="input-group-addon" style="background-color: rgba(14, 14, 15, 0.1);">
                                                <span class="fa fa-calendar"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="input-group" style="border-top:0px solid #808080; text-align:right; margin-top:5px;">
                            <div class="clearfix" style="margin-top:10px;">
                                <button class="btn btn-primary btn-sm" type="button" id="guadarBloqueo" onclick="FNGuardarBloqueo()" style="font-size:11px;" disabled>Aceptar</button>
                                <button class="btn btn-white btn-sm" type="button" onclick="FNCerrarCrearBloqueo()" style="font-size:11px; margin-left:5px;">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Editar -->
    <div class="modal" data-backdrop="false" id="ModalActualizarBloqueo" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="margin-left:0px;width:460px;height:240px; font-size:12px;">
                <div id="ContenedorActualizarBloqueo" class="modal-body" style="margin-left:5px;width:570px; font-size:12px;">
                    <div>
                        <div style="border-bottom:1px solid #808080; padding:5px 5px 10px 5px;">
                            @if (ViewBag.tipoIniciativaSeleccionadoMantenedor == "2")
                            {
                                <h7 style="color:#333;"><strong>Editar Bloqueo Presupuesto</strong> </h7>
                            }
                            @if (ViewBag.tipoIniciativaSeleccionadoMantenedor == "1")
                            {
                                <h7 style="color:#333;"><strong>Editar Bloqueo Caso Base</strong> </h7>
                            }
                        </div>
                        <br />
                        <div class="row">
                            <input id="FechaBloqueoToken" name="FechaBloqueoToken" type="hidden" value="">
                            <div class="col-xl-12 offset-md-0">
                                <div class="form-row mt-0" style="width:100%; font-size:11px;">
                                    <div class="col-sm-2 pt-2">
                                        <label for="TemplateAnio"><strong>Fecha Desde</strong></label>
                                    </div>
                                    <div class="col-sm-4 pb-1">
                                        <div class="input-group date">
                                            <input type="text" class="form-control" id="datepickerMFDesde" readonly>
                                            <div class="input-group-addon" style="background-color: rgba(14, 14, 15, 0.1);">
                                                <span class="fa fa-calendar"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-xl-12 offset-md-0">
                                <div class="form-row mt-0" style="width:100%; font-size:11px;">
                                    <div class="col-sm-2 pt-2">
                                        <label for="TemplateAnio"><strong>Fecha Hasta</strong></label>
                                    </div>
                                    <div class="col-sm-4 pb-1">
                                        <div class="input-group date">
                                            <input type="text" class="form-control" id="datepickerMFHasta" readonly>
                                            <div class="input-group-addon" style="background-color: rgba(14, 14, 15, 0.1);">
                                                <span class="fa fa-calendar"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="input-group" style="border-top:0px solid #808080; text-align:right; margin-top:5px;">
                            <div class="clearfix" style="margin-top:10px;">
                                <button class="btn btn-primary btn-sm" type="button" id="actualizarBloqueo" onclick="FNActualizarBloqueo()" style="font-size:11px;">Aceptar</button>
                                <button class="btn btn-white btn-sm" type="button" onclick="FNCerrarActualizarBloqueo()" style="font-size:11px; margin-left:5px;">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal" data-backdrop="false" id="ModalActualizarExcelTemplate" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="margin-left:0px;width:450px;height:200px; font-size:12px;">
                <div id="ContenedorActualizarExcelTemplate" class="modal-body" style="margin-left:5px;width:450px; font-size:12px;">
                    <div>
                        <div style="border-bottom:1px solid #808080; padding:5px 5px 10px 5px;">
                            @if (ViewBag.tipoIniciativaSeleccionadoMantenedor == "2")
                            {
                                <h7 style="color:#333;"><strong>Subir Template Presupuesto</strong> </h7>
                            }
                            @if (ViewBag.tipoIniciativaSeleccionadoMantenedor == "1")
                            {
                                <h7 style="color:#333;"><strong>Subir Template Caso Base</strong> </h7>
                            }
                        </div>
                        <br />
                        <iframe src="~/WebForm1.aspx?type=31" scrolling="no" id="frame31" frameborder="0" height="70" width="390"></iframe>

                        <div class="input-group" style="border-top:0px solid #808080; text-align:right; margin-top:5px;">
                            <div class="clearfix" style="margin-top:10px;">
                                <button class="btn btn-white btn-sm" type="button" onclick="FNCerrarActualizarExcelTemplate()" style="font-size:11px; margin-left:5px;">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--Hidden Control-->
    @{
        if (Session["CAPEX_SESS_USERNAME"] == null)
        {
            Response.Redirect("/login");
        }
        else
        {
            @Html.Hidden("CAPEX_H_USERNAME", Convert.ToString(Session["CAPEX_SESS_USERNAME"]));
        }
    }
    <!--Preloader-->
    <div class="modal-overlay"></div>
    @Html.Partial("_PreLoader")
    <!--End Preloader-->
    <!-- Footer -->
    <footer class="footer">
        @Html.Partial("_Footer")
    </footer>
    <!-- End Footer -->
    <!-- jQuery  -->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker-1-7-1.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.es.min.js"></script>
    <script src="~/Scripts/popper.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/detect.js"></script>
    <script src="~/Scripts/fastclick.js"></script>
    <script src="~/Scripts/jquery.slimscroll.js"></script>
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/jquery.nicescroll.js"></script>
    <script src="~/Scripts/jquery.scrollTo.min.js"></script>
    <script src="~/Scripts/waves.js"></script>
    <script src="~/Scripts/sweetalert2.all.min.js"></script>

    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    <!--
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
        -->
    <script src="~/Scripts/bootstrap-inputmask.min.js"></script>
    <script src="~/Scripts/bootstrap-maxlength.min.js"></script>

    <script src="~/Scripts/jquery.number.min.js"></script>
    <script src="~/Scripts/jquery.mask.min.js"></script>

    <!--Script de Gestión -->
    <script src="~/Scripts/Modules/Mantenedor/Mantenedor.js"></script>
    <script src="~/Scripts/Modules/Mantenedor/Bloqueo.js"></script>

    <script>
        $(function () {
            console.log("Iniciando pagina paginaSeleccionada=", paginaSeleccionada);
            paginaSeleccionada = getUrlParams('paginaSeleccionada');
            if (!paginaSeleccionada || paginaSeleccionada == undefined) {
                paginaSeleccionada = 1;
            } else {
                if (!isNaN(paginaSeleccionada)) {
                    paginaSeleccionada = parseInt(paginaSeleccionada);
                } else {
                    paginaSeleccionada = 1;
                }
            }
            if (paginaSeleccionada > 1) {
                FNGotoPage(paginaSeleccionada, 10);
            }
        });

        $(document).ready(function () {
            console.log("document ready bloqueo");

            $("input[name=optradio]").change(function () {
                console.log("input[name=optradio]=", $(this).val());
                window.location.href = location.protocol + '//' + location.host + location.pathname + "?tipoIniciativaSeleccionado=" + $(this).val();
            });

            $('#datepickerFDesde').datepicker({
                weekStart: 1,
                daysOfWeekHighlighted: "6,0",
                autoclose: true,
                todayHighlight: true,
                format: 'dd-mm-yyyy',
                language: 'es'
            });

            $('#datepickerMFDesde').datepicker({
                weekStart: 1,
                daysOfWeekHighlighted: "6,0",
                autoclose: true,
                todayHighlight: true,
                format: 'dd-mm-yyyy',
                language: 'es'
            });

            $('#datepickerFHasta').datepicker({
                weekStart: 1,
                daysOfWeekHighlighted: "6,0",
                autoclose: true,
                todayHighlight: true,
                format: 'dd-mm-yyyy',
                language: 'es'
            });

            $('#datepickerMFHasta').datepicker({
                weekStart: 1,
                daysOfWeekHighlighted: "6,0",
                autoclose: true,
                todayHighlight: true,
                format: 'dd-mm-yyyy',
                language: 'es'
            });

            $('#datepickerFDesde').on('change', function () {
                console.log('Change event.');
                var valFDesde = $('#datepickerFDesde').val();
                console.log('Change event. valFDesde=', valFDesde);
                FNChechFechaBloqueo();
            });
            $('#datepickerFDesde').change(function () {
                console.log('Second change event...');
            });

            $('#datepickerMFDesde').on('change', function () {
                console.log('Change event.');
                var valFDesde = $('#datepickerMFDesde').val();
                console.log('Change event. valFDesde=', valFDesde);
                FNChechFechaBloqueo();
            });
            $('#datepickerMFDesde').change(function () {
                console.log('Second change event...');
            });


            $('#datepickerFHasta').on('change', function () {
                console.log('Change event.');
                var valFHasta = $('#datepickerFHasta').val();
                console.log('Change event. valFHasta=', valFHasta);
                FNChechFechaBloqueo();
            });
            $('#datepickerFHasta').change(function () {
                console.log('Second change event...');
            });

            $('#datepickerMFHasta').on('change', function () {
                console.log('Change event.');
                var valFHasta = $('#datepickerMFHasta').val();
                console.log('Change event. valFHasta=', valFHasta);
                FNChechFechaBloqueo();
            });
            $('#datepickerMFHasta').change(function () {
                console.log('Second change event...');
            });

        });
    </script>
</body>
</html>