@using CapexIdentity.Entities
@model LoginInfo
@{
    ViewBag.Title = "Sistema de Gestión de Iniciativas CAPEX";
}
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface no-generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="widtha=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>@ViewBag.Title</title>
    <meta content="CAPEX" name="description">
    <meta content="AMSA S.A." name="author">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/icons.css" rel="stylesheet" type="text/css">
    <link href="~/Content/site.css" rel="stylesheet" type="text/css">
    <link href="~/Content/sweetalert2.css" rel="stylesheet" />
    <link href="~/fonts/css/all.css" rel="stylesheet" />
</head>
<body>
    <div id="stars"></div>
    <div id="stars2"></div>
    <!-- Navigation Bar-->
    <header id="topnav">
        <div class="topbar-main">
            <div class="container-fluid">
                <!-- Logo container-->
                <div class="logo" style="margin-top:0px;">
                    <a href="#" class="logo">
                        <img src="~/Content/logos/logo-centinela-190x50.png" border="0" height="45" style="margin-top:0px;" />
                    </a>
                </div>
                <!--System Bar-->
                @Html.Partial("_SystemBar")
                <!--Fin System Bar-->
                <!-- Top Bar-->
                @Html.Partial("_TopBar")
                <!--Fin Top Bar-->
                <div class="clearfix"></div>
            </div>
        </div>

    </header>

    <!-- Wrapper -->
    <div class="wrapper" style="margin-top:-60px;">
        <div class="container-fluid">

            <div class="row" style="margin-top:0px;">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="btn-group float-right">
                            <ol class="breadcrumb hide-phone p-0 m-0">
                                <li class="breadcrumb-item"><a href="#">Capex</a></li>
                                <li class="breadcrumb-item"><a href="#" onclick="document.location='@Url.Action("Index", "Login")'">Login</a></li>
                                <li class="breadcrumb-item active"><a href="#">Panel</a></li>
                            </ol>
                        </div>
                        <h6 class="page-title">Panel de Selección</h6>
                    </div>
                </div>
            </div>

            <!-- Tarjetas-->

            <div class="row">

                <div class="col-md-12 col-xl-3">
                    <div class="card m-b-30">
                        <div class="card-body">
                            <h6 class="card-title">Ejercicio de Planificación</h6>
                            <p class="card-text">Creación o Importación de Iniciativas para ejercicios de presupuesto base o caso de Desarrollo.</p>
                            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#ModalTipEjercioPlanificacion">Ingresar</a>

                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-xl-3">
                    <div class="card m-b-30">
                        <div class="card-body">
                            <h6 class="card-title">Ejercicios Oficiales</h6>
                            <p class="card-text">Contiene Ejercicios anteriores oficiales de la compañía. Presupuesto anual, Caso Base y Caso de Desarrollo.</p>
                            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#ModalTipoIniciativaEjercicioOficial">Ingresar</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-xl-3">
                    <div class="card m-b-30">
                        <div class="card-body ">
                            <h6 class="card-title">Biblioteca</h6>
                            <p class="card-text">Biblioteca  de documentación, instructivos, lineamientos y de consulta para Gestión de Iniciativas CAPEX.</p>
                            <a href="#" class="btn btn-primary" onclick="document.location.href='@Url.Action("Index", "Documentacion")';">Ingresar</a>
                        </div>
                    </div>
                </div>
                @{
                    if (Convert.ToString(Session["CAPEX_SESS_ROLNOMBRE"]) == "Administrador1" || Convert.ToString(Session["CAPEX_SESS_ROLNOMBRE"]) == "Administrador2" || Convert.ToString(Session["CAPEX_SESS_ROLNOMBRE"]) == "Administrador3")
                    {
                        <div class="col-md-12 col-xl-3">
                            <div class="card m-b-30">
                                <div class="card-body ">
                                    <h6 class="card-title">Mantenedores</h6>
                                    <p class="card-text">Herramientas para el mantenimiento de información, usuarios y parámetros del sistema CAPEX.</p>
                                    <a href="#" class="btn btn-primary" onclick="document.location.href='@Url.Action("Index", "Mantenedor")'">Ingresar</a>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="row">
                <div class="col-md-12 col-xl-3">
                    <div class="card m-b-30">
                        <div class="card-body">
                            <h6 class="card-title">Gestión de Iniciativas</h6>
                            <p class="card-text">Administrador de status de iniciativas asociado a cada perfil de usuario. Gestionador, Sponsor, Revisor u Otros.</p>
                            <!--<a href="#" class="btn btn-primary" onclick="document.location='@Url.Action("Index", "Gestion")'">Ingresar</a>-->
                            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#ModalTipoIniciativa">Ingresar</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-xl-3">
                    <div class="card m-b-30">
                        <div class="card-body">
                            <h6 class="card-title">Estadísticas</h6>
                            <p class="card-text">Módulo de representación gráfica de Presupuestos como ejercicios oficiales e iniciativas en gestión.</p>
                            <a href="#" class="btn btn-primary" onclick="document.location='@Url.Action("Index", "Estadistica")'" data-toggle="modal" data-target="">Ingresar</a>

                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-xl-3">
                    <div class="card m-b-30">
                        <div class="card-body ">
                            <h6 class="card-title">Contacto Administrador</h6>
                            <p class="card-text">Apoyo a la solución de funcionalidades del sistema.</p>
                            <br />&nbsp;
                            <a href="#" class="btn btn-primary" onclick="document.location.href='@Url.Action("Index", "Contacto")'">Ingresar</a>
                        </div>
                    </div>
                </div>
                @{
                    if (Convert.ToString(Session["CAPEX_SESS_ROLNOMBRE"]) == "Administrador1" || Convert.ToString(Session["CAPEX_SESS_ROLNOMBRE"]) == "Administrador2" || Convert.ToString(Session["CAPEX_SESS_ROLNOMBRE"]) == "Administrador3")
                    {
                        <div class="col-md-12 col-xl-3">
                            <div class="card m-b-30">
                                <div class="card-body ">
                                    <h6 class="card-title">Generación Ejercicio Oficial - Orientación Comercial Vn</h6>
                                    <p class="card-text">Generación de Parámetros Comerciales.</p>
                                    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#ModalTipoIniciativaOrientacionComercial">Ingresar</a>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal inmodal" id="ModalTipEjercioPlanificacion" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Crear Ejercicio - <span id="PeriodoIniTit">@DateTime.Now.Year</span></h6>
                </div>
                <div>
                    <span>
                        <input type="number" class="form-control EPfieldBox" id="caso_ann" style="display:none; width: 90%" placeholder="Ingresar Año" />
                    </span>
                </div>
                <div id="ContenedorIniciativasCasos" class="modal-body" style="margin-left:5px;width:490px; font-size:14px;">
                    <div style="height:130px;">
                        <div class="" style="margin-top:0px;">
                            <div class="row" style="height:50px;">
                                <div class="col-md-12">
                                    <div style="float: left;width: 30px;margin-right: 20px;text-align: center;">
                                    </div>
                                    <h7 style="color:#333"><strong>Seleccione ejercicio de planificación</strong></h7>
                                    <div class="form-group mb-1 row">
                                        <div class="col-md-12">
                                            <select id="TipoIniciativa" class="form-control" onchange="FnRegistrarTipoIniciativa(this.value)" style="font-size:12px;">
                                                <option value="" selected>Seleccionar..</option>
                                                <option value="CB">Caso Base</option>
                                                <option value="CD">Caso Desarrollo</option>
                                                <option value="PP">Presupuesto</option>
                                                <option value="EX">Extraordinario</option>
                                            </select>
                                        </div>
                                    </div>
                                    <h7 style="color:#333"><strong>Crear Nuevo</strong></h7>
                                    <div class="form-group mb-1 row">
                                        <div class="col-md-12">
                                            <select id="TipoEjercicio" class="form-control" onchange="FNRegistrarTipoEjercicio(this.value)" style="font-size:12px;">
                                                <option value="" selected>Seleccionar..</option>
                                                <option value="CREAR">Crear Nueva Ficha</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="FnProcesarSeleccionEP();">Ingresar</button>
                        <button type="button" class="btn btn-white" data-dismiss="modal" onclick="document.location.reload();">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal inmodal" id="ModalTipoIniciativaEjercicioOficial" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Tipo Iniciativa</h6>
                </div>
                <div>
                    <span>
                        <input type="number" class="form-control EPfieldBox" id="caso_ann" style="display:none; width: 90%" placeholder="Ingresar Año" />
                    </span>
                </div>
                <div id="ContenedorIniciativasTipoIniciativa" class="modal-body" style="margin-left:5px;width:490px; font-size:14px;">
                    <div style="height:130px;">
                        <div class="" style="margin-top:0px;">
                            <div class="row" style="height:50px;">
                                <div class="col-md-12">
                                    <div style="float: left;width: 30px;margin-right: 20px;text-align: center;">
                                    </div>
                                    <h7 style="color:#333"><strong>Seleccione tipo de iniciativa</strong></h7>
                                    <div class="form-group mb-1 row">
                                        <div class="col-md-12">
                                            <select id="TipoIniciativaEjercicioOficial" class="form-control" onchange="FnSeleccionarTipoIniciativaEjercicioOficial(this.value)" style="font-size:12px;">
                                                <option value="" selected>Seleccionar..</option>
                                                <option value="PP">Presupuesto</option>
                                            </select>
                                        </div>
                                    </div>
                                    <h7 style="color:#333"><strong>Año</strong></h7>
                                    <div class="form-group mb-1 row">
                                        <div class="col-md-12">
                                            <select id="AnioIniciativaEjercicioOficial" class="form-control" onchange="FnSeleccionarAnioIniciativaEjercicioOficial(this.value)" style="font-size:12px;">
                                                <option value="" selected>Seleccionar..</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="idBotonTipoIniciativaEjercicioOficial" onclick="FnProcesarSeleccionEjercicioOficial();">Ingresar</button>
                        <button type="button" class="btn btn-white" data-dismiss="modal" onclick="document.location.reload();">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal inmodal" id="ModalTipoIniciativaOrientacionComercial" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Parámetros de Orientación Comercial</h6>
                </div>
                <div>
                    <span>
                        <input type="number" class="form-control EPfieldBox" id="caso_ann" style="display:none; width: 90%" placeholder="Ingresar Año" />
                    </span>
                </div>
                <div id="ContenedorIniciativasOrientacionComercial" class="modal-body" style="margin-left:5px;width:490px; font-size:14px;">
                    <div style="height:130px;">
                        <div class="" style="margin-top:0px;">
                            <div class="row" style="height:50px;">
                                <div class="col-md-12">
                                    <div style="float: left;width: 30px;margin-right: 20px;text-align: center;">
                                    </div>
                                    <h7 style="color:#333"><strong>Seleccione ejercicio de planificación</strong></h7>
                                    <div class="form-group mb-1 row">
                                        <div class="col-md-12">
                                            <select id="TipoIniciativaOrientacionComercial" class="form-control" onchange="FnSeleccionarTipoIniciativaOrientacionComercial(this.value)" style="font-size:12px;">
                                                <option value="" selected>Seleccionar..</option>
                                                <option value="CB">Caso Base</option>
                                                <option value="CD">Caso Desarrollo</option>
                                                <option value="PP">Presupuesto</option>
                                                <option value="EX">Extraordinario</option>
                                            </select>
                                        </div>
                                    </div>
                                    <h7 style="color:#333"><strong>Año</strong></h7>
                                    <div class="form-group mb-1 row">
                                        <div class="col-md-12">
                                            <select id="AnioIniciativaOrientacionComercial" class="form-control" onchange="FnSeleccionarAnioIniciativaOrientacionComercial(this.value)" style="font-size:12px;">
                                                <option value="" selected>Seleccionar..</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="idBotonTipoIniciativaOrientacionComercial" onclick="FnProcesarSeleccionOrientacionComercial();">Ingresar</button>
                        <button type="button" class="btn btn-white" data-dismiss="modal" onclick="document.location.reload();">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal inmodal" id="ModalTipoIniciativa" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Tipo Iniciativa</h6>
                </div>
                <div id="ContenedorTipoIniciativa" class="modal-body" style="margin-left:5px;width:490px; font-size:14px;">
                    <div style="height:130px;">
                        <div class="" style="margin-top:0px;">
                            <div class="row" style="height:50px;">
                                <div class="col-md-12">
                                    <div style="float: left;width: 30px;margin-right: 20px;text-align: center;">
                                    </div>
                                    <h7 style="color:#333"><strong>Seleccione tipo de iniciativa</strong></h7>
                                    <div class="form-group mb-1 row">
                                        <div class="col-md-12">
                                            <select id="idTipoIniciativa" class="form-control" onchange="FnSeleccionarTipoIniciativa(this.value)" style="font-size:12px;">
                                                <option value="-1" selected>Seleccionar..</option>
                                                <option value="1">Presupuesto</option>
                                                <option value="2">Caso Base</option>
                                                <option value="0">Ambos</option>
                                            </select>
                                        </div>
                                    </div>
                                    <h7 style="color:#333"><strong>Año</strong></h7>
                                    <div class="form-group mb-1 row">
                                        <div class="col-md-12">
                                            <select id="AnioGestionIniciativa" class="form-control" onchange="FnSeleccionarAnioGestionIniciativa(this.value)" style="font-size:12px;">
                                                <option value="" selected>Seleccionar..</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="idBotonTipoIniciativa" disabled='disabled' onclick="FnProcesarSeleccionTipoIniciativa();">Ingresar</button>
                        <button type="button" class="btn btn-white" data-dismiss="modal" onclick="document.location.reload();">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--Hidden Control-->
    @{
        if (Session["CAPEX_SESS_USERNAME"] == null)
        {
            Response.Redirect("/Login");
        }
        else
        {
            @Html.Hidden("CAPEX_H_USERNAME", Convert.ToString(Session["CAPEX_SESS_USERNAME"]));
        }
    }
    <!--Preloader-->
    @Html.Partial("_PreLoader")
    <!--End Preloader-->
    <!-- Footer -->
    <footer class="footer">
        @Html.Partial("_Footer")
    </footer>
    <!-- End Footer -->
    <!-- jQuery  -->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/popper.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/detect.js"></script>
    <script src="~/Scripts/fastclick.js"></script>
    <script src="~/Scripts/jquery.slimscroll.js"></script>
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/jquery.nicescroll.js"></script>
    <script src="~/Scripts/jquery.scrollTo.min.js"></script>
    <script src="~/Scripts/waves.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/sweetalert2.all.min.js"></script>
    <script src="~/Scripts/Modules/Contexto/Contexto.js"></script>

    <script>
    // ----------------------------------------------
    //
    // SISTEMA          : CAPEX
    // CLIENTE          : ANTOFAGASTA MINERALS S.A.
    // MODULO           : PANEL
    // FECHA            : MAYO 2018
    // DESARROLLADO POR : PMO 360 SpA
    //
    // ----------------------------------------------
    // METODOS          : AUXILIARES Y REST
    //
    //
    FnRegistrarTipoIniciativa = function (tipo) {
        localStorage.setItem("CAPEX_TIPO_INICIATIVA", tipo);
    }

    FnCheckSeleccion = function () {
        var tipoIniciativaOrientacionComercial = $('#TipoIniciativaOrientacionComercial').val();
        var anioIniciativaOrientacionComercial = $('#AnioIniciativaOrientacionComercial').val();
        if (tipoIniciativaOrientacionComercial && tipoIniciativaOrientacionComercial != undefined && tipoIniciativaOrientacionComercial != "" && tipoIniciativaOrientacionComercial != "-1"
            && anioIniciativaOrientacionComercial && anioIniciativaOrientacionComercial != undefined && anioIniciativaOrientacionComercial != "" && anioIniciativaOrientacionComercial != "-1") {
            $('#idBotonTipoIniciativaOrientacionComercial').prop('disabled', false);
        } else {
            $('#idBotonTipoIniciativaOrientacionComercial').prop('disabled', true);
        }
    }

    FnCheckSeleccionEjercicioOficial = function () {
        var tipoIniciativaEjercicioOficial = $('#TipoIniciativaEjercicioOficial').val();
        var anioIniciativaEjercicioOficial = $('#AnioIniciativaEjercicioOficial').val();
        if (tipoIniciativaEjercicioOficial && tipoIniciativaEjercicioOficial != undefined && tipoIniciativaEjercicioOficial != "" && tipoIniciativaEjercicioOficial != "-1"
            && anioIniciativaEjercicioOficial && anioIniciativaEjercicioOficial != undefined && anioIniciativaEjercicioOficial != "" && anioIniciativaEjercicioOficial != "-1") {
            $('#idBotonTipoIniciativaEjercicioOficial').prop('disabled', false);
        } else {
            $('#idBotonTipoIniciativaEjercicioOficial').prop('disabled', true);
        }
    }

    FnSeleccionarTipoIniciativaOrientacionComercial = function (tipo) {
        console.log("FnSeleccionarTipoIniciativaOrientacionComercial tipo=", tipo);
        FnCheckSeleccion();
    }

    FnSeleccionarTipoIniciativaEjercicioOficial = function (tipo) {
        console.log("FnSeleccionarTipoIniciativaEjercicioOficial tipo=", tipo);
        FnCheckSeleccionEjercicioOficial();
    }

    FnSeleccionarTipoIniciativa = function (tipo) {
        console.log("FnSeleccionarTipoIniciativa tipo=", tipo);
        localStorage.setItem("CAPEX_FILTRO_TIPO_INICIATIVA", tipo);
        FnCheckSeleccionGestionIniciativa();
        /*if (tipo == '-1') {
            $('#idBotonTipoIniciativa').prop('disabled', true);
        } else {
            $('#idBotonTipoIniciativa').prop('disabled', false);
        }*/
    }

    FnSeleccionarAnioGestionIniciativa = function (anio) {
        console.log("FnSeleccionarAnioGestionIniciativa anio=", anio);
        FnCheckSeleccionGestionIniciativa();
    }

    FnCheckSeleccionGestionIniciativa = function () {
        var tipoIniciativaGestion = $('#idTipoIniciativa').val();
        var anioIniciativaGestion = $('#AnioGestionIniciativa').val();
        if (tipoIniciativaGestion && tipoIniciativaGestion != undefined && tipoIniciativaGestion != "" && tipoIniciativaGestion != "-1"
            && anioIniciativaGestion && anioIniciativaGestion != undefined && anioIniciativaGestion != "" && anioIniciativaGestion != "-1") {
            $('#idBotonTipoIniciativa').prop('disabled', false);
        } else {
            $('#idBotonTipoIniciativa').prop('disabled', true);
        }
    }

    FnSeleccionarAnioIniciativaOrientacionComercial = function (anio) {
        console.log("FnSeleccionarAnioIniciativaOrientacionComercial anio=", anio);
        FnCheckSeleccion();
    }

    FnSeleccionarAnioIniciativaEjercicioOficial = function (anio) {
        console.log("FnSeleccionarAnioIniciativaEjercicioOficial anio=", anio);
        FnCheckSeleccionEjercicioOficial();
    }

    FnProcesarSeleccionOrientacionComercial = function () {
        console.log("FnProcesarSeleccionOrientacionComercial");
        $('#ModalTipoIniciativaOrientacionComercial').hide();
        $("#AppLoaderContainer").show();
        var tipoIniciativaOrientacionComercial = $('#TipoIniciativaOrientacionComercial').val();
        if (tipoIniciativaOrientacionComercial == "CB" || tipoIniciativaOrientacionComercial == "CD") {
            tipoIniciativaOrientacionComercial = 1;
        } else {
            tipoIniciativaOrientacionComercial = 2;
        }
        var anioIniciativaOrientacionComercial = $('#AnioIniciativaOrientacionComercial').val();
        var url = '/Orientacion?tipoIniciativaOrientacionComercial=' + tipoIniciativaOrientacionComercial + '&anioIniciativaOrientacionComercial=' + anioIniciativaOrientacionComercial;
        console.log("FnProcesarSeleccionOrientacionComercial url=", url);
        window.location.href = encodeURI(url);
    }

    FnProcesarSeleccionEjercicioOficial = function () {
        console.log("FnProcesarSeleccionEjercicioOficial");
        $('#ModalTipoIniciativaEjercicioOficial').hide();
        $("#AppLoaderContainer").show();
        var tipoIniciativaEjercicioOficial = $('#TipoIniciativaEjercicioOficial').val();
        if (tipoIniciativaEjercicioOficial == "CB" || tipoIniciativaEjercicioOficial == "CD") {
            tipoIniciativaEjercicioOficial = 1;
        } else {
            tipoIniciativaEjercicioOficial = 2;
        }
        var anioIniciativaEjercicioOficial = $('#AnioIniciativaEjercicioOficial').val();
        var url = '/Ejercicios?tipoIniciativaEjercicioOficial=' + tipoIniciativaEjercicioOficial + '&anioIniciativaEjercicioOficial=' + anioIniciativaEjercicioOficial;
        console.log("FnProcesarSeleccionEjercicioOficial url=", url);
        window.location.href = encodeURI(url);
    }

    //
    // RESGISTRO DE DATOS PARA EJERICICIO
    //
    FNRegistrarTipoEjercicio = function (tipo) {
        var tipo_iniciativa = localStorage.getItem("CAPEX_TIPO_INICIATIVA");
        var ann_actual = (new Date).getFullYear();
        switch (tipo) {
            case "CREAR":
            /*
            * REGLA DE NEGOCIO 0
            * RN000
            */
                if (tipo_iniciativa == "PP") {
                    var ann_siguiente = parseInt(ann_actual) + 1
                    $("#PeriodoIniTit").html(ann_siguiente);
                    localStorage.setItem("CAPEX_PERIODO_EP", ann_siguiente);
                }
                else
                {
                    $("#PeriodoIniTit").html(ann_actual);
                    localStorage.setItem("CAPEX_PERIODO_EP", ann_actual);
                }
                localStorage.setItem("CAPEX_TIPO_EJERCICIO", tipo);
            break;
            case "IMPORTAR":
                localStorage.setItem("CAPEX_PERIODO_EP", ann_actual);
                localStorage.setItem("CAPEX_TIPO_EJERCICIO", tipo);
                break;
        }
        return;
    }
    //
    // PROCESAR SELECCION - EJERCICIO
    //
    FnProcesarSeleccionEP = function () {
        $("#AppLoaderContainer").show();
        var periodo = localStorage.getItem("CAPEX_PERIODO_EP");
        var tipo_ini = localStorage.getItem("CAPEX_TIPO_INICIATIVA");
        var tipo_eje = localStorage.getItem("CAPEX_TIPO_EJERCICIO");

        if (tipo_ini == "" || tipo_ini == null) {
            $("#AppLoaderContainer").hide();
            toastr.error('Debe seleccionar un tipo de iniciativa.');
            return false;
        }
        else if (tipo_eje == "" || tipo_eje == null) {
            $("#AppLoaderContainer").hide();
            toastr.error('Debe seleccionar un tipo de ejercicio.');
            return false;
        }
        else {
            window.location.href = '@Url.RouteUrl("Planificacion")';
        }
    }

    FnProcesarSeleccionTipoIniciativa = function () {
        $('#ModalTipoIniciativa').hide();
        $("#AppLoaderContainer").show();
        var param = localStorage.getItem("CAPEX_FILTRO_TIPO_INICIATIVA");
        var anioGestionIniciativa = $('#AnioGestionIniciativa').val();
        var url = '/Gestion?tipoIniciativaSeleccionado=' + param + '&anioIniciativaGestion=' + anioGestionIniciativa;
        console.log("FnProcesarSeleccionTipoIniciativa url=", url);
        window.location.href = encodeURI(url);
    }
    //
    // INICIALIZAR
    //
    $(document).ready(function () {

        $('#ModalTipoIniciativa').on('shown.bs.modal', function (e) {
            console.log("ModalTipoIniciativa shown.bs.modal");
            $('#idBotonTipoIniciativa').prop('disabled', true);
            var hoy = new Date();
            var anioActual = moment(hoy).year();
            $('#idTipoIniciativa').val("-1");
            var anioGestionIniciativa = $('#AnioGestionIniciativa');
            anioGestionIniciativa.empty();
            anioGestionIniciativa.append('<option value="" selected="true">Seleccionar..</option>');
            $('#AnioGestionIniciativa').append(new Option(anioActual, anioActual, false, false));
            $('#AnioGestionIniciativa').append(new Option((anioActual + 1), (anioActual + 1), false, false));
            $('#AnioGestionIniciativa').val('');
            console.log("ModalTipoIniciativa shown.bs.modal anioActual=", anioActual);
        });

        $('#ModalTipoIniciativaOrientacionComercial').on('shown.bs.modal', function (e) {
            console.log("ModalTipoIniciativaOrientacionComercial shown.bs.modal");
            $('#idBotonTipoIniciativaOrientacionComercial').prop('disabled', true);
            var hoy = new Date();
            var anioActual = moment(hoy).year();
            $('#TipoIniciativaOrientacionComercial').val('');
            var anioIniciativaOrientacionComercial = $('#AnioIniciativaOrientacionComercial');
            anioIniciativaOrientacionComercial.empty();
            anioIniciativaOrientacionComercial.append('<option value="" selected="true">Seleccionar..</option>');
            $('#AnioIniciativaOrientacionComercial').append(new Option(anioActual, anioActual, false, false));
            $('#AnioIniciativaOrientacionComercial').append(new Option((anioActual + 1), (anioActual + 1), false, false));
            $('#AnioIniciativaOrientacionComercial').val('');
            console.log("ModalTipoIniciativaOrientacionComercial shown.bs.modal anioActual=", anioActual);
        });

        $('#ModalTipoIniciativaEjercicioOficial').on('shown.bs.modal', function (e) {
            console.log("ModalTipoIniciativaEjercicioOficial shown.bs.modal");
            $('#idBotonTipoIniciativaEjercicioOficial').prop('disabled', true);
            var hoy = new Date();
            var anioActual = moment(hoy).year();
            $('#TipoIniciativaEjercicioOficial').val('');
            var anioIniciativaEjercicioOficial = $('#AnioIniciativaEjercicioOficial');
            anioIniciativaEjercicioOficial.empty();
            anioIniciativaEjercicioOficial.append('<option value="" selected="true">Seleccionar..</option>');
            $('#AnioIniciativaEjercicioOficial').append(new Option(anioActual, anioActual, false, false));
            $('#AnioIniciativaEjercicioOficial').append(new Option((anioActual + 1), (anioActual + 1), false, false));
            $('#AnioIniciativaEjercicioOficial').val('');
            console.log("ModalTipoIniciativaEjercicioOficial shown.bs.modal anioActual=", anioActual);
        });

        var estado_menu_opcion_ingresar_iniciativa = localStorage.getItem("CAPEX_MENU_INGRESAR_INICIATIVA");
        if (estado_menu_opcion_ingresar_iniciativa == "SI") {
            localStorage.setItem("CAPEX_MENU_INGRESAR_INICIATIVA", "");
            $("#ModalTipEjercioPlanificacion").show();
            return true;
        }
        localStorage.setItem("CAPEX_PERIODO_EP","");
        localStorage.setItem("CAPEX_TIPO_INICIATIVA","");
        localStorage.setItem("CAPEX_CASO_INICIATIVA", "");
        localStorage.setItem("CAPEX_TIPO_EJERCICIO", "");
        localStorage.setItem("CAPEX_FILTRO_TIPO_INICIATIVA", "-1");
        //
        $('.tooltip-demo').tooltip({
        selector: "[data-toggle=tooltip]",
        container: "body"
        });
        //NOTIFICACIONES
        toastr.options = {
        "closeButton": true,
        "debug": false,
        "progressBar": true,
        "positionClass": "toast-top-right",
        "showDuration": "400",
        "hideDuration": "1000",
        "timeOut": "7000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
        }
        $("#AppLoaderContainer").hide();
    });

    </script>

</body>
</html>
