<div class="navbar-custom">
    <div class="container-fluid">
        <div id="navigation">
            <!-- Navigation Menu-->

            <ul class="navigation-menu">
                <li class="has-submenu active">
                    <a href="#" style="font-size:11px;"><i class="fa fa-leaf"></i>Iniciativas</a>
                    <ul class="submenu megamenu">
                        <li class="active">
                            <ul>
                                <li><a href="#" class="breadcrumb-item" onclick="FNRegistrarEventoIngresoIniciativa();" style="color:#fff;" data-toggle="modal" data-target="#ModalTipEjercioPlanificacion">Crear Iniciativa</a></li>

                            </ul>
                        </li>
                    </ul>
                </li>
                @{
                    if (@Session["CAPEX_SESS_ROLNOMBRE"] == null)
                    {
                        Response.Redirect("/Login");
                    }
                    else
                    {
                        if (@Session["CAPEX_SESS_ROLNOMBRE"].ToString() == "Administrador" || @Session["CAPEX_SESS_ROLNOMBRE"].ToString() == "Administrador1" || @Session["CAPEX_SESS_ROLNOMBRE"].ToString() == "Administrador2")
                      //  if (@Session["CAPEX_SESS_ROLNOMBRE"].ToString() == "Administrador" || @Session["CAPEX_SESS_ROLNOMBRE"].ToString() == "Administrador1")
                        {
                            <li class="has-submenu">
                                <a href="#" style="font-size:11px;"><i class="fa fa-random"></i>Parametros Comerciales</a>
                                <ul class="submenu megamenu">
                                    <li class="">
                                        <ul>
                                            <li><a href="#">Orientacion Comercial Vn</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-submenu">
                                <a href="#" style="font-size:11px;"><i class="fa fa-cog"></i>Mantenedores</a>
                                <ul class="submenu megamenu">
                                    <li class="">
                                        <ul>

                                            <li><a href="#" class="breadcrumb-item" onclick="document.location.href='@Url.Action("Usuario", "Mantenedor")'">Usuarios</a></li>

                                            <li><a href="#" class="breadcrumb-item" onclick="document.location='@Url.Action("Gerente", "Mantenedor")'" data-toggle="modal" data-target="">Gerentes </a></li>

                                            <li><a href="#" class="breadcrumb-item" onclick="document.location='@Url.Action("Area", "Mantenedor")'" data-toggle="modal" data-target="">Areas </a></li>

                                            <li><a href="#" class="breadcrumb-item" onclick="document.location='@Url.Action("Gerencia", "Mantenedor")'" data-toggle="modal" data-target="">Gerencias </a></li>

                                            <li><a href="#" class="breadcrumb-item" onclick="document.location='@Url.Action("Categoria", "Mantenedor")'" data-toggle="modal" data-target="">Categorias </a></li>


                                            @*<li><a href="#">Rol</a></li>
                                            <li><a href="#">Compañias</a></li>                                          
                                            <li><a href="#">Etapas</a></li>
                                            <li><a href="#">SLA</a></li>
                                            <li><a href="#">Superintendencias</a></li>
                                            <li><a href="#">Superintendentes</a></li>
                                            <li><a href="#">Clasificación SSO</a></li>
                                            <li><a href="#">Procesos</a></li>*@

                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        }
                    }
                }
            </ul>
        </div>
    </div>
</div>

